<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-nav .nav-link.active {
            color: black;
            font-weight: bold;
        }
    </style>
</head>

    <title>Сельское хозяйство</title>
    <body>
        <div id="root">
            <h1>Таблицы базы данных</h1>
            <h3>Основные характеристики субъектов Российской Федерации</h3>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/edu/">Муниципальные образования</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/agr/">Сельское хозяйство</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/empl/">Уровень занятости населения</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h3 class="m-3">Сельское хозяйство</h3>
            <form method="get" class="form-inline">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary ml-2">Отфильтровать</button>
            </form>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Название региона</th>
                        <th>Федеральный округ</th>
                        <th>Индикатор</th>
                        <th>Количество(тыс. тонн)</th>
                        <th>Год</th>
                    </tr>
                </thead>
                <tbody>
                {% block content %}
                    {% for agr in agrs %}
                    <tr>
                        <td>{{ agr.region }}</td>
                        <td>{{ agr.district }}</td>
                        <td>{{ agr.indicator }}</td>
                        <td>{{ agr.percentage }}</td>
                        <td>{{ agr.year }}</td>
                    </tr>
                    {% endfor %}
                {% endblock content %}
                </tbody>
            </table>
        </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>